.logo {
  width: calc(100% * 0.2);
  color: var(--button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;

  &--light {
    color: var(--alternative-text-color);
  }
  &--dark {
    color: var(--main-text-color);
  }
}
